{# Simple Meta Field Component #}
<div class="flex">
    <span class="text-[11px] font-medium text-gray-700 mr-3">{{ label }}</span>
    <span class="text-[11px] font-light text-gray-600">{{ value }}</span>
</div>