{# Simple Meta Field Component #}
<div class="flex">
    <span class="text-[12px] font-medium text-gray-700 mr-3 uppercase">{{ label }}</span>
    <span class="text-[12px] font-light text-gray-600 uppercase">{{ value }}</span>
</div>