*.log
.env
.DS_Store
CLAUDE.md
/.claude
/theme/assets/dist/
/stubs

# Ignore dev dependencies
/node_modules
/bower_components
/doc
/theme/vendor
/vendor
/wp

# Release artifacts
/*.zip
/*.tar
/*.tar.gz
/*.sql.gz
