{#
  Logo Component
  - Site logo with link to homepage
  - Responsive sizing
#}

<div class="flex-shrink-0">
    <a href="{{ site.url }}" class="flex items-center">
        <img src="{{ site.theme.uri }}/assets/images/MBS_Logo.png" 
             alt="{{ site.name }}" 
             class="h-12 lg:h-16 w-auto">
    </a>
</div>