{#
  Footer Logo Section
  - Company logo and description
  - Supports responsive layout
#}

<div class="flex flex-col space-y-4">
    <a href="{{ site.url }}" 
       class="inline-block focus:outline-none focus:ring-2 focus:ring-[#FFF200] focus:ring-opacity-50 rounded">
        <img src="{{ site.theme.uri }}/assets/images/MBS_Logo.png" 
             alt="{{ site.name }}" 
             class="h-12 lg:h-16 w-auto">
    </a>
   
</div>