{% extends "base.twig" %}



{% block content %}
    <button class="btn">click me </button>
    <h2>{{ foo }}</h2>
    <p>{{ qux }}</p>
    {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}


{% block footer %}
<div class="pt-40">this is my own footer</div>
{% endblock %}
